/* global */

/*
body {
    margin: 0;
    padding: 0;
}
*/

hr {
  border-color: #FFD662; /* Aspen Gold */
}

a.menu_item_layout:hover {
  cursor: pointer;
}

/* Layouts */

.global_rounded_corner {
  border-radius: 25px;
  border: 2px
  solid #98DDDE; /* Limpet Shell */
  padding-bottom: 20px;
  background-color: #AF9483; /* Warm Taupe */
  max-width: 900px;
}

.global_header_layout {
  text-align: center;
  margin:0;
  height:40px;
  line-height: 40px;
  border-radius: 25px 25px 0 0;
  background-color: #2E4A62; /* Sailor Blue */
}

.menu_layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;
}

.menu_rounded_corner {
  border-radius: 25px;
  border: 2px
  solid #98DDDE; /* Limpet Shell */
  width: 300px;
  height: 400px;
  background-color: #578CA9; /* Niagara */
}

.menu_header_layout {
  text-align: center;
  margin: 0;
  color: white;
  height:40px;
  line-height: 40px;
  border-radius: 25px 25px 0 0;
  background-color: #577284 /* Bluestone */
}

.menu_item_layout {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  line-height: 0;
  padding: 0px 10px 0px 10px;
}

.menu_item_layout a {
  text-decoration-line: none;
}

.menu_input_layout {
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
  line-height: 0px;
  padding: 0px 10px 0px 10px;
}

.menu_input_left_layout {
  width: 40%;
  padding: 3px;
  text-align: right;
}


/* margins */

.no_top_margin {
  margin-top: 0;
}

/* botons */

.boto {
  width: 100px;
  height: 30px;
  border: 1px solid #FFD662; /* Aspen Gold */
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.boto:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.boto_ok {
  background-color: #4CAF50;
}

.boto_cancel {
  background-color: transparent;
}


/* icones */

.material-icons.md-16 { font-size: 16px; }

i {
  vertical-align: middle;
}

/* responsive text */

@media screen and (min-width: 300px) {
  p, button {
      font-family: sans-serif;
      color: white;
      font-size: 14px;
    }
}

@media screen and (max-width: 299px) and (min-width: 50px) {
  p, button {
      font-family: sans-serif;
      color: white;
      font-size: calc(10px + .5vw);
    }
}

.font18_white {
  font-family: sans-serif;
  color: white;
  font-size: 18px;
}
